#topPane {
	display: grid;
	grid-template-columns: 960px auto;
}

#experimentsWrapper {
	display: grid;
	gap: 60px;
	grid-template-columns: repeat(2, 704px);
	margin: 0 auto;
	width: 1468px;
}

#buttonsRow {
	margin: auto;
	position: relative;
	width: 960px;
}

.trackSelect > select {
	background: none;
	border: 1px solid rgb(148, 150, 189);
	border-radius: 0 8px 8px 0;
	padding: 0.7em;
}

.trackSelect > select:first-child {
	border-radius: 8px 0 0 8px;
	border-right: none;
}
