/* ../components/Language.css */
.langSelect {
  background: none;
  border: 1px solid rgb(148, 150, 189);
  border-radius: 8px;
  padding: 0.7em;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* ../components/RaceTrack.css */
.distanceMarker {
  font-weight: 600;
  paint-order: stroke;
  stroke: white;
  stroke-width: 2px;
}
.sectionText {
  dominant-baseline: central;
  font-size: 12px;
  font-weight: 600;
  paint-order: stroke;
  stroke: white;
  stroke-width: 2px;
  text-anchor: middle;
}
.racetrackName {
  color: rgb(121, 64, 22);
  font: 22px bold sans-serif;
  margin-bottom: 0.3em;
  text-align: center;
  text-stroke: 1px rgb(121, 64, 22);
  -webkit-text-stroke: 1px rgb(121, 64, 22);
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
.mouseoverText {
  font-size: 12px;
  font-weight: 600;
  paint-order: stroke;
  stroke: white;
  stroke-width: 2px;
}

/* ../components/Tooltip.css */
.hasTooltip {
  display: inline-block;
  position: relative;
  text-decoration: underline dotted;
}
.tooltip {
  background: black;
  border-radius: 6px;
  box-sizing: border-box;
  color: white;
  display: none;
  font: normal 14px sans-serif;
  left: 50%;
  max-width: 200px;
  padding: 4px 8px;
  position: absolute;
  top: -5px;
  transform: translate(-50%, -100%);
  width: -moz-max-content;
  width: max-content;
}
.hasTooltip.contentIsTall .tooltip {
  top: -8px;
}
.hasTooltip:hover .tooltip {
  display: block;
}
.tooltip .arrow {
  bottom: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  height: 0;
  left: calc(50% - 6px);
  position: absolute;
  width: 0;
}

/* ../components/SkillList.css */
.filterButton {
  background: rgb(214, 207, 231);
  border: none;
  box-shadow: 0 3px 0 rgb(180, 178, 192);
  color: rgb(121, 64, 22);
  padding: 0.8em;
  margin: 10px 5px;
  text-stroke: 1px rgb(121, 64, 22);
  -webkit-text-stroke: 1px rgb(121, 64, 22);
}
.filterButton.active {
  background: rgb(86, 171, 51);
  box-shadow: 0 3px 0 rgb(86, 171, 51);
  color: white;
  text-stroke: 1px white;
  -webkit-text-stroke: 1px white;
}
.iconFilterButton {
  all: unset;
  background-size: contain;
  filter: grayscale(1);
  height: 40px;
  margin: 5px;
  width: 40px;
}
.iconFilterButton.active {
  filter: none;
}
.skillList {
  display: grid;
  font-size: 16px;
  gap: 16px 0;
  grid-template-columns: repeat(5, auto);
  list-style-type: none;
  padding: 0;
}
.skill {
  align-items: center;
  border-radius: 8px;
  border: 2px solid transparent;
  box-shadow: 0 3px 0 rgb(180, 178, 192);
  box-sizing: border-box;
  display: flex;
  height: 3em;
  overflow: hidden;
  padding: 5px;
  width: 18em;
}
.skill:active {
  box-shadow: none;
  filter: brightness(0.95);
}
.hidden,
.skill.selected {
  display: none;
}
.skillName {
  color: rgb(121, 64, 22);
  display: flex;
  flex: 1;
  overflow: hidden;
  text-stroke: 1px rgb(121, 64, 22);
  -webkit-text-stroke: 1px rgb(121, 64, 22);
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  text-wrap: nowrap;
}
.skillIcon {
  height: 2.2em;
  margin: 0 8px 0 0;
  width: 2.2em;
}
.skillDismiss {
  color: rgb(121, 64, 22);
  cursor: default;
  padding: 0 7px;
}
.skill-white {
  background:
    linear-gradient(
      90deg,
      rgb(255, 243, 247),
      rgb(181, 178, 198)) padding-box,
    linear-gradient(
      90deg,
      rgb(214, 207, 231),
      rgb(148, 150, 189)) border-box;
}
.skill-gold {
  background:
    linear-gradient(
      90deg,
      rgb(255, 255, 239),
      rgb(255, 190, 40)) padding-box,
    linear-gradient(
      90deg,
      rgb(255, 223, 115),
      rgb(255, 166, 16)) border-box;
}
.skill-pink {
  background:
    linear-gradient(
      90deg,
      rgb(255, 238, 239),
      rgb(255, 155, 211)) padding-box,
    linear-gradient(
      90deg,
      rgb(255, 142, 198),
      rgb(255, 89, 173)) border-box;
}
.skill-unique {
  background:
    linear-gradient(
      90deg,
      rgb(239, 255, 214),
      rgb(161, 201, 248),
      rgb(170, 170, 255),
      rgb(255, 186, 231)) padding-box,
    linear-gradient(
      90deg,
      rgb(197, 255, 190),
      rgb(189, 235, 255),
      rgb(195, 208, 255),
      rgb(255, 138, 222)) border-box;
}
.skillDetailsList {
  font-size: 16px;
  list-style-type: none;
}
.skillDetailsList > li {
  display: inline-block;
  vertical-align: top;
}
.expandedSkill {
  border-radius: 8px;
  border: 2px solid transparent;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px;
}
.expandedSkillHeader {
  align-items: center;
  display: flex;
  height: 2.1em;
  margin-bottom: 5px;
}
.skillDetails {
  border-style: solid;
  border-width: 2px 0 0 0;
  color: rgb(121, 64, 22);
}
.skillDetailsSection {
  border-style: solid;
  border-width: 1px 0 0 0;
  margin-top: 8px;
  padding-top: 8px;
}
.skillDetailsSection:first-child {
  border-width: 0;
  margin: 0;
  padding: 0;
}
.skill-white .skillDetails,
.skill-white .skillDetailsSection {
  border-image: linear-gradient(rgb(172, 172, 182), rgb(169, 169, 181)) 90;
}
.skill-gold .skillDetails,
.skill-gold .skillDetailsSection {
  border-image: linear-gradient(rgb(203, 172, 89), rgb(230, 161, 58)) 90;
}
.skill-pink .skillDetails,
.skill-pink .skillDetailsSection {
  border-image: linear-gradient(rgb(230, 173, 202), rgb(228, 43, 161)) 90;
}
.skill-unique .skillDetails,
.skill-unique .skillDetailsSection {
  border-image: linear-gradient(rgb(121, 64, 22), rgb(121, 64, 22)) 90;
}
.skillConditions {
  font-family: monospace;
  margin: 0 0 0.5em 0.5em;
}
.condition {
  margin-left: 0.7em;
}
.conditionOp {
  margin: 0 2px;
}
.conditionOp {
  opacity: 0.6;
}
.operatorAnd {
  float: left;
}
.operatorOrText {
  font-style: italic;
  margin-left: 10px;
  opacity: 0.8;
}
.skillEffects {
  display: table;
  margin-left: 0.5em;
}
.skillEffect {
  display: table-row;
}
.skillEffectType {
  display: table-cell;
}
.skillEffectValue {
  display: table-cell;
  padding-left: 1em;
}
.skillDuration {
  display: inline-block;
  margin-top: 0.5em;
}

/* ../components/HorseDef.css */
.horseDef {
  background: rgb(248, 248, 248);
  border: 2px solid rgb(170, 221, 154);
  border-radius: 12px;
  box-sizing: border-box;
  width: 700px;
}
.horseDefHeader {
  background: linear-gradient(rgb(153, 219, 68), rgb(112, 190, 18));
  border-bottom: 2px solid rgb(170, 221, 154);
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
}
.umaSelector {
  display: grid;
  grid-template-columns: 120px 360px;
  grid-template-rows: repeat(2, 60px);
  padding: 0 50px 10px 50px;
}
.umaSelectorIconsBox {
  display: flex;
  grid-row: 1 / 3;
}
.umaSelectorIconsBox > img:first-child {
  cursor: pointer;
  width: 120px;
}
.umaSelectorIconsBox > img:last-child {
  align-self: flex-start;
  cursor: pointer;
  width: 56px;
  z-index: 1;
}
.umaEpithet {
  align-items: flex-end;
  display: flex;
}
.umaEpithet > span {
  color: rgb(121, 64, 22);
  font-size: 1.4em;
  font-weight: bold;
  margin: 0 auto;
}
.umaSelectWrapper {
  position: relative;
  top: 0;
  left: 0;
}
.umaSelectInput {
  background: none;
  border: none;
  box-sizing: border-box;
  color: rgb(121, 64, 22);
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.umaSuggestions {
  border: 2px solid rgb(224, 214, 204);
  cursor: default;
  display: none;
  left: -2px;
  list-style-type: none;
  max-height: 320px;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  top: 1em;
  width: 420px;
  z-index: 10;
}
.umaSuggestions.open {
  display: block;
}
.umaSuggestion {
  background: white;
  padding: 4px;
}
.umaSuggestion:nth-child(even) {
  background: rgb(242, 242, 242);
}
.umaSuggestion.selected,
.umaSuggestion:hover {
  background: rgb(0, 120, 215);
}
.umaSuggestion > img {
  height: 2em;
  margin-right: 5px;
  vertical-align: middle;
}
.umaSuggestion > span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.horseParams {
  border: 2px solid rgb(163, 221, 111);
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(5, 130px);
  margin: 10px auto;
  width: 650px;
}
.horseParamHeader {
  background: rgb(121, 216, 35);
  border-left: 2px dotted rgb(93, 199, 24);
  color: white;
  font-weight: bold;
  text-align: center;
}
.horseParamHeader:first-child {
  border: none;
}
.horseParamHeader > img {
  filter: drop-shadow(0 2px 0 rgb(103, 162, 58));
  height: 1.2em;
  margin-right: 2px;
  vertical-align: middle;
}
.horseParamHeader > span {
  display: inline-block;
  height: 100%;
  text-shadow: 0 2px 1px rgb(103, 162, 58);
  vertical-align: middle;
}
.horseParam {
  align-items: center;
  border-left: 2px dotted rgb(121, 206, 72);
  display: flex;
  padding: 8px;
}
.horseParam:nth-child(6) {
  border: none;
}
.horseParam > img {
  width: 25px;
}
.horseParam > input {
  background: inherit;
  border: none;
  color: rgb(121, 64, 22);
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 10px;
  padding: 0;
  width: 76px;
}
.horseAptitudes {
  display: grid;
  grid-template-columns: repeat(2, 210px);
  gap: 8px 12px;
  margin: 0 25px;
}
.horseAptitudes > div {
  align-items: center;
  border: 2px solid rgb(224, 214, 204);
  border-radius: 6px;
  background: white;
  color: rgb(121, 64, 22);
  display: flex;
  font-weight: bold;
  height: 1.8em;
  padding: 0 8px;
  position: relative;
}
.horseAptitudeSelect {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 4px;
}
.horseAptitudeSelect > span::after {
  border-bottom: 1px solid rgb(121, 64, 22);
  border-right: 1px solid rgb(121, 64, 22);
  content: "";
  display: block;
  height: 4px;
  margin-left: 1.6em;
  margin-top: -1.2em;
  transform: rotate(45deg);
  width: 4px;
}
.horseAptitudeSelect > ul {
  background: white;
  border: 1px solid rgb(224, 214, 204);
  list-style-type: none;
  position: absolute;
  right: -12px;
  top: 10px;
  z-index: 10;
  width: 20px;
}
.horseAptitudeSelect li {
  margin-left: -22px;
}
.horseAptitudeSelect img {
  height: 1.2em;
}
.horseStrategySelect {
  background: inherit;
  border: none;
  color: inherit;
  font-weight: inherit;
  height: 100%;
  position: absolute;
  right: 4px;
  text-align: right;
}
.horseSkillHeader {
  background: linear-gradient(rgb(168, 227, 5), rgb(97, 174, 22)) padding-box, linear-gradient(rgb(173, 219, 60), rgb(85, 143, 24)) border-box;
  border: 2px solid transparent;
  border-radius: 36px;
  box-shadow: 0px 3px 0 rgb(180, 178, 192);
  box-sizing: border-box;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin: 16px auto;
  text-align: center;
  width: 680px;
}
.horseSkillListWrapper {
  background: rgb(242, 242, 242);
  border-radius: 4px;
  margin: 0 6px 6px 6px;
}
.horseSkillList {
  display: grid;
  gap: 16px 10px;
  grid-template-columns: repeat(2, 288px);
  list-style-type: none;
  margin: 0 auto;
  padding: 12px;
  width: 576px;
}
.horseSkillList .skill {
  margin: 0;
}
.horseSkillPickerWrapper {
  background: white;
  bottom: 0;
  display: none;
  left: 10%;
  margin: auto;
  overflow-y: auto;
  padding: 1em;
  position: fixed;
  top: 2em;
  width: 80%;
  z-index: 20;
}
.horseSkillPickerWrapper.open {
  display: block;
}
.horseSkillPickerOverlay {
  background: rgba(25, 25, 25, 0.6);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.horseSkillPickerOverlay.open {
  display: block;
}
.addSkillButton {
  align-items: center;
  background: white;
  border: 1px solid rgb(224, 214, 204);
  color: rgb(121, 64, 22);
}
.addSkillButton > span {
  font-size: 2em;
  margin: 0 6px;
}

/* app.css */
@font-face {
  font-family: "Inter";
  src: local("Inter"), url(/uma-tools/fonts/Inter-VariableFont_opsz,wght.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans JP";
  src: local("Noto Sans JP"), url(/uma-tools/fonts/NotoSansJP-VariableFont_wght.ttf) format("truetype");
}
body {
  font-family:
    Inter,
    "Noto Sans JP",
    sans-serif;
}
#topPane {
  display: grid;
  grid-template-columns: 960px auto;
  margin: 0 auto;
  width: fit-content;
}
.racetrackWrapper {
  margin-left: -20px;
}
#runPane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
#run {
  background: none;
  border: 1px solid rgb(148, 150, 189);
  border-radius: 8px;
  font-size: 1.6em;
  margin-top: 10px;
  padding: 24px;
}
#buttonsRow {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  position: relative;
  width: 960px;
}
.trackSelect > select {
  background: none;
  border: 1px solid rgb(148, 150, 189);
  border-radius: 0 8px 8px 0;
  padding: 0.7em;
}
.trackSelect > select:first-child {
  border-radius: 8px 0 0 8px;
  border-right: none;
}
#buttonsRowSpace {
  flex: 1;
}
.groundSelect {
  background: inherit;
  border: none;
  color: rgb(121, 64, 22);
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}
.weatherSelect {
  display: flex;
  margin-left: 5px;
}
.seasonSelect {
  display: flex;
  margin-left: 50px;
}
#buttonsRow img {
  height: 2em;
}
#buttonsRow img:not(.selected) {
  filter: grayscale(0.9);
}
#resultsPane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  width: fit-content;
}
#resultsHelp {
  color: rgb(121, 64, 22);
  font-size: 0.7em;
  margin-top: 0.5em;
  text-align: center;
}
#resultsSummary {
  border-spacing: 15px 0;
}
#resultsSummary > tfoot th {
  color: rgb(121, 64, 22);
  font-size: 0.9em;
}
#resultsSummary > tbody th {
  background: rgb(248, 248, 248);
  border: 2px solid rgb(224, 214, 204);
  border-radius: 100px;
  color: rgb(121, 64, 22);
  font-size: 2em;
  font-weight: normal;
  height: 64px;
  line-height: 0.8em;
  padding: 36px 20px 20px 20px;
  width: 80px;
}
#resultsSummary .unit-basinn {
  display: block;
  font-size: 0.5em;
}
#experimentsWrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 8px auto 0 auto;
}
#copyUmaButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
#copyUmaButtons > div {
  background: linear-gradient(rgb(255, 255, 255), rgb(228, 224, 233));
  border: 2px solid rgb(181, 174, 187);
  border-radius: 8px;
  height: 60px;
  position: relative;
  width: 60px;
}
#copyUmaButtons > div::after {
  border-top: 2px solid rgb(121, 64, 22);
  border-right: 2px solid rgb(121, 64, 22);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  width: 30px;
}
#copyUmaToRight::after {
  left: 15px;
  top: 25px;
  transform: rotate(45deg) translate(-15px, 0);
}
#copyUmaToLeft::after {
  bottom: 25px;
  right: 15px;
  transform: rotate(-135deg) translate(-15px, 0);
}
