.horseDef {
	background: rgb(248, 248, 248);
	border: 2px solid rgb(170, 221, 154);
	border-radius: 12px;
	box-sizing: border-box;
	width: 700px;
}

.horseDefHeader {
	background: linear-gradient(rgb(153, 219, 68), rgb(112, 190, 18));
	border-bottom: 2px solid rgb(170, 221, 154);
	border-radius: 10px 10px 0 0;
	color: white;
	font-size: 2em;
	font-weight: bold;
	padding: 6px 0;
	text-align: center;
}

.umaSelector {
	display: grid;
	grid-template-columns: 120px 360px;
	grid-template-rows: repeat(2, 60px);
	padding: 0 50px 10px 50px;
}

.umaSelectorIconsBox {
	display: flex;
	grid-row: 1 / 3;
}

.umaSelectorIconsBox > img:first-child {
	cursor: pointer;
	width: 120px;
}

.umaSelectorIconsBox > img:last-child {
	align-self: flex-start;
	cursor: pointer;
	width: 56px;
	z-index: 1;
}

.umaEpithet {
	align-items: flex-end;
	display: flex;
}

.umaEpithet > span {
	color: rgb(121,64,22);
	font-size: 1.4em;
	font-weight: bold;
	margin: 0 auto;
}

.umaSelectWrapper {
	position: relative;
	top: 0;
	left: 0;
}

.umaSelectInput {
	background: none;
	border: none;
	box-sizing: border-box;
	color: rgb(121,64,22);
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.umaSuggestions {
	border: 2px solid rgb(224, 214, 204);
	cursor: default;
	display: none;
	left: -2px;
	list-style-type: none;
	max-height: 320px;
	overflow-y: auto;
	padding: 0;
	position: absolute;
	top: 1em;
	width: 420px;
	z-index: 10;
}

.umaSuggestions.open {
	display: block;
}

.umaSuggestion {
	background: white;
	padding: 4px;
}

.umaSuggestion:nth-child(even) {
	background: rgb(242, 242, 242);
}

.umaSuggestion.selected, .umaSuggestion:hover {
	background: rgb(0, 120, 215);
}

.umaSuggestion > img {
	height: 2em;
	margin-right: 5px;
	vertical-align: middle;
}

.umaSuggestion > span {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.horseParams {
	border: 2px solid rgb(163, 221, 111);
	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(5, 130px);
	margin: 10px auto;
	width: 650px;
}

.horseParamHeader {
	background: rgb(121, 216, 35);
	border-left: 2px dotted rgb(93, 199, 24);
	color: white;
	font-weight: bold;
	text-align: center;
}

.horseParamHeader:first-child {
	border: none;
}

.horseParamHeader > img {
	filter: drop-shadow(0 2px 0 rgb(103, 162, 58));
	height: 1.2em;
	margin-right: 2px;
	vertical-align: middle;
}

.horseParamHeader > span {
	display: inline-block;
	height: 100%;
	text-shadow: 0 2px 1px rgb(103, 162, 58);
	vertical-align: middle;
}

.horseParam {
	align-items: center;
	border-left: 2px dotted rgb(121, 206, 72);
	display: flex;
	padding: 8px;
}

.horseParam:nth-child(6) {
	border: none;
}

.horseParam > img {
	width: 25px;
}

.horseParam > input {
	background: inherit;
	border: none;
	color: rgb(121,64,22);
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 10px;
	padding: 0;
	width: 76px;
}

.horseAptitudes {
	display: grid;
	grid-template-columns: repeat(2, 210px);
	gap: 8px 12px;
	margin: 0 25px;
}

.horseAptitudes > div {
	align-items: center;
	border: 2px solid rgb(224, 214, 204);
	border-radius: 6px;
	background: white;
	color: rgb(121, 64, 22);
	display: flex;
	font-weight: bold;
	height: 1.8em;
	padding: 0 8px;
	position: relative;
}

.horseAptitudeSelect {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 4px;
}

.horseAptitudeSelect > span::after {
	border-bottom: 1px solid rgb(121,64,22);
	border-right: 1px solid rgb(121,64,22);
	content: "";
	display: block;
	height: 4px;
	margin-left: 1.6em;
	margin-top: -1.2em;
	transform: rotate(45deg);
	width: 4px;
}

.horseAptitudeSelect > ul {
	background: white;
	border: 1px solid rgb(224, 214, 204);
	list-style-type: none;
	position: absolute;
	right: -12px;
	top: 10px;
	z-index: 10;
	width: 20px;
}

/* one day i'll actually learn CSS */
.horseAptitudeSelect li {
	margin-left: -22px;
}

.horseAptitudeSelect img {
	height: 1.2em;
}

.horseStrategySelect {
	background: inherit;
	border: none;
	color: inherit;
	font-weight: inherit;
	height: 100%;
	position: absolute;
	right: 4px;
	text-align: right;
}

.horseSkillHeader {
	background: linear-gradient(rgb(168, 227, 5), rgb(97, 174, 22)) padding-box, linear-gradient(rgb(173, 219, 60), rgb(85, 143, 24)) border-box;
	border: 2px solid transparent;
	border-radius: 36px;
	box-shadow: 0px 3px 0 rgb(180,178,192);
	box-sizing: border-box;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	margin: 16px auto;
	text-align: center;
	width: 680px;
}

.horseSkillListWrapper {
	background: rgb(242, 242, 242);
	border-radius: 4px;
	margin: 0 6px 6px 6px;
}

.horseSkillList {
	display: grid;
	gap: 16px 10px;
	grid-template-columns: repeat(2, 288px);
	list-style-type: none;
	margin: 0 auto;
	padding: 12px;
	width: 576px;
}

.horseSkillList .skill {
	margin: 0;
}

.horseSkillPickerWrapper {
	background: white;
	bottom: 0;
	display: none;
	left: 10%;
	margin: auto;
	overflow-y: auto;
	padding: 1em;
	position: fixed;
	top: 2em;
	width: 80%;
	z-index: 20;
}

.horseSkillPickerWrapper.open {
	display: block;
}

.horseSkillPickerOverlay {
	background: rgba(25, 25, 25, 0.6);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.horseSkillPickerOverlay.open {
	display: block;
}

.addSkillButton {
	align-items: center;
	background: white;
	border: 1px solid rgb(224, 214, 204);
	color: rgb(121, 64, 22);
}

.addSkillButton > span {
	font-size: 2em;
	margin: 0 6px;
}
