.distanceMarker {
	font-weight: 600;
	paint-order: stroke;
	stroke: white;
	stroke-width: 2px;
}

.sectionText {
	dominant-baseline: central;
	font-size: 12px;
	font-weight: 600;
	paint-order: stroke;
	stroke: white;
	stroke-width: 2px;
	text-anchor: middle;
}

.racetrackName {
	color: rgb(121,64,22);
	font: 18px bold sans-serif;
	text-align: center;
	text-stroke: 1px rgb(121,64,22);
	-webkit-text-stroke: 1px rgb(121,64,22);
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.mouseoverText {
	font-size: 12px;
	font-weight: 600;
	paint-order: stroke;
	stroke: white;
	stroke-width: 2px;
}
