.racetrackWrapper {
	margin: auto;
}

#skillDetailsWrapper {
	margin-top: 1em;
}

.skillDetailsList {
	margin: auto;
	width: 85%;
}

#buttonsRow {
	margin: auto;
	position: relative;
	width: 960px;
}

.trackSelect > select {
	background: none;
	border: 1px solid rgb(148, 150, 189);
	border-radius: 0 8px 8px 0;
	padding: 0.7em;
}

.trackSelect > select:first-child {
	border-radius: 8px 0 0 8px;
	border-right: none;
}

#addSkill {
   	background: none;
	border: 1px solid rgb(148, 150, 189);
	border-radius: 8px;
	padding: 0.7em;
	position: absolute;
	right: 0;
	top: 0;
}

#skillListWrapper {
	background: white;
	bottom: 0;
	display: none;
	left: 10%;
	margin: auto;
	overflow-y: auto;
	padding: 1em;
	position: fixed;
	top: 2em;
	width: 80%;
	z-index: 20;
}

#skillListWrapper.skillListWrapper-open {
	display: block;
}

#overlay {
	background: rgba(25, 25, 25, 0.6);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

#overlay.skillListWrapper-open {
	display: block;
}
